

.bg-blue{
    background-color: #2F5F89;
}

.border-black{
    border: #000;
}


.widget-red{
    background-color: #e3342f !important;
    color: #000000;
}
.widget-green{
    background-color: #38c172 !important;
    color: #000000;
}
.widget-blue{
    background-color: #6cb2eb !important;
    color: #000000;
}
